.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.github/**
.gitignore
.yarnrc
biome.json
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/icon.svg
